# Ignore credentials and secrets
*.json
!package.json
!tsconfig.json

# SQLite DBs
*.sqlite3

# Env files
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/

# Node.js
node_modules/
.next/
dist/
out/

# Vercel local build folder (but keep in Git for deployment configs)
.vercel/
